.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #F65C02;
  
  padding: 10px;
}

.grid-container > div {
  background-color: #042350;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }

 a{
  color: white;
 }
  
  a:hover {
    width: 300px;
    color: rgb(247, 14, 14);
  }

.item1 {
  color: white;
}

  .item2 {
    color: white;
  }

  .item3 {
    color: white;}

  .item4 {
    color: white;
  }

  .item5 {
    color: white;
  }

  